@model CESAPSCOREWEBAPP.Models.CaseBPC

@{
    ViewData["Title"] = "Detail Case BPC";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
             + "<li>"
             + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
             + "</li>"
             + "<li>"
             + "<a href='/CaseBPCs/Index' data-toggle='tooltip' data-placement='top' title='List'>Case BPC</a>"
             + "</li>"
             + "<li class='active'>"
             + "<b><a data-toggle='tooltip' data-placement='top' title='Deetail Case BPC'>" + @ViewData["Title"] + "</a></b>"
             + "</li>"
             + "</ol>";
}

<div class="col-sm-6 col-lg-6 col-md-6 col-lg-offset-3">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>

                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>
                            วันที่แจ้งเคส
                        </dt>
                        <dd>
                            @Model.CaseBPCDate.ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            Case MA
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CaseMA)
                        </dd>
                        <dt>
                            หัวข้อ
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CaseBPCSubject)
                        </dd>
                        <dt>
                            รายละเอียด
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CaseBPCDetail)
                        </dd>
                        <dt>
                            สถานะ
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.caseBPCStatus)
                        </dd>
                        <dt>
                            ระดับ
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.caseBPCPLevel)
                        </dd>
                        <dt>
                            วันที่แก้ไข
                        </dt>
                        <dd>

                            @{
                                var str = "";
                                try
                                {
                                    DateTime Date1 = (DateTime)Model.CaseBPCPDateFix;
                                    str = Date1.ToString("dd/MM/yyyy");
                                }
                                catch
                                {
                                    str = "";
                                }
                            }
                            @str

                        </dd>
                        <dt>
                            แก้ไขโดย
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EditBy)
                        </dd>
                        <dt>
                            เปิดเคสโดย
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.openCaseBy)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CaseBPCId" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit">แก้ไข</a>
        <a asp-action="Index" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Back to List">กลับรายการ</a>
    </div>
</div>
