@model CESAPSCOREWEBAPP.Models.MapSite

@{
    ViewData["Title"] = "รายละเอียดแผนที่";
     ViewData["Tab"] = "<ol class='breadcrumb'>"
                  + "<li>"
                  + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
                  + "</li>"
                  + "<li>"
                  + "<a href='/MapSites/Index' data-toggle='tooltip' data-placement='top' title='List'>รายการแผนที่</a>"
                  + "</li>"
                  + "<li class='active'>"
                  + "<b><a data-toggle='tooltip' data-placement='top' title='Add Title Of Users'>" + @ViewData["Title"] + "</a></b>"
                  + "</li>"
                  + "</ol>";
}
    <div class="col-sm-4 col-lg-4 col-md-4 col-lg-offset-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@ViewData["Title"]</h5>

            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    ชื่อหน่วยงาน :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.SiteName)
                                </dd>
                                <dt>
                                    ที่อยู่หน่วยงาน :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.SiteAddress)
                                </dd>
                                <dt>
                                    ละติจูด :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Latitude)
                                </dd>
                                <dt>
                                    ลองจิจูด :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Longitude)
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.MapSiteId" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit">แก้ไข</a>
            <a asp-action="Index" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Back to List">กลับรายการ</a>
        </div>
    </div>
