
@model CESAPSCOREWEBAPP.Models.Appointment


@{
    IEnumerable<Appointment> applists = ViewData["applist"] as IEnumerable<Appointment>;
    IEnumerable<HRRecruite> hrPersons = ViewData["hRRecruite"] as IEnumerable<HRRecruite>;


}


@{
    ViewData["Title"] = "รายละเอียดการ Recruit";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
                   + "<li>"
                   + "<a href='../../Home/Index'>Home</a>"
                   + "</li>"
                   + "<li>"
                   + "<a href='/HRRecruites/Index'>Recruit Data</a>"
                   + "</li>"
                   + "<li class='active'>"
                   + "<a>" + @ViewData["Title"] + "</a>"
                   + "</li>"
                   + "</ol>";


    var status = 0;
}







@foreach (HRRecruite hrPerson in hrPersons)
{
    status = hrPerson.HRRecruiteStatusId;




    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"> การนัดหมาย</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2"> ผลการ Recruit</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3"> ประวัติส่วนตัว</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">ประวัติการศึกษา</a></li>
                <li class=""><a data-toggle="tab" href="#tab-5">ประวัติการทำงาน</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <strong>การนัดหมาย :  @hrPerson.TitleOfUsers.TitleOfUserName@hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName</strong>  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox product-detail">
                                        <div class="ibox-content">
                                            <div class="row">
                                                <table class="table table-striped table-bordered table-hover dataTables-example" id="dt1">
                                                    <thead>
                                                        <tr>
                                                            <th>ครั้งที่</th>
                                                            <th>วันที่ติดต่อ</th>
                                                            <th>ปรเภทการนัด</th>
                                                            <th>สถานะ</th>
                                                            <th>สถานะนัด</th>
                                                            <th>วันเวลานัด</th>
                                                            <th>สถานะสัมภาษณ์</th>
                                                            <th>หมายเหตุ</th>
                                                            <td></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            var date1 = "";
                                                            var date2 = "";
                                                            var j = 1;
                                                            foreach (Appointment applist in applists)
                                                            {

                                                                <tr>
                                                                    <td>@j</td>
                                                                    <td>
                                                                        @{
                                                                            try
                                                                            {
                                                                                DateTime UpdatedTime = (DateTime)@applist.AppTelDate;
                                                                                date1 = UpdatedTime.ToString("dd/MM/yyyy");
                                                                            }
                                                                            catch
                                                                            {
                                                                                date1 = "";
                                                                            }
                                                                        }

                                                                        @date1


                                                                    </td>
                                                                    <td>@applist.appTelTypes.AppTelTypeName</td>
                                                                    <td>@applist.appStatuses.AppStatusName</td>
                                                                    <td>@applist.appResults.AppResultName</td>
                                                                    <td>

                                                                        @{
                                                                            try
                                                                            {
                                                                                DateTime UpdatedTime = (DateTime)@applist.AppDate;
                                                                                date2 = UpdatedTime.ToString("dd/MM/yyyy HH:mm");
                                                                            }
                                                                            catch
                                                                            {
                                                                                date2 = "";
                                                                            }
                                                                        }

                                                                        @date2



                                                                    </td>
                                                                    <td>@applist.appSuccesses.AppSuccessName</td>
                                                                    <td>@applist.appEtcs.AppEtcName</td>


                                                                    <td>


                                                                        <a class="btn btn-info" data-animal-type="@applist.AppId" data-date1-type="@date2" onclick="openAddEditForm(this)"><i class="fa fa-edit"></i></a>
                                                                        <a class="btn btn-danger" data-animal-type="@applist.AppId" data-date1-type="@date2" onclick="OpenDeleteFrom(this)"><i class="fa fa-trash"></i></a>
                                                                    </td>

                                                                </tr>
                                                                j++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="ibox-footer">
                                            <span class="pull-right">
                                                วันที่เพิ่มข้อมูล - <i class="fa fa-clock-o"></i> @hrPerson.HRRecruitDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <strong>สถานะการ Recruit :  @hrPerson.TitleOfUsers.TitleOfUserName@hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName</strong>  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal1"><i class="fa fa-edit"></i></button>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="ibox product-detail">
                                        <div class="ibox-content">

                                            <div class="row">

                                                <div class="col-md-9 col-md-offset-3">

                                                    <h2 class="font-bold m-b-xs">

                                                        สถานะการ Recruit : @hrPerson.HRRecruiteStatuses.HRRecruiteStatusName
                                                    </h2>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">
                                                            วันที่เซ็นสัญญา :

                                                            @{
                                                                var DateSign = "";
                                                                try
                                                                {
                                                                    DateTime UpdatedTime = (DateTime)@hrPerson.SignDate;
                                                                    DateSign = UpdatedTime.ToString("dd/MM/yyyy");
                                                                }
                                                                catch
                                                                {
                                                                    DateSign = "";
                                                                }

                                                            }

                                                            @DateSign
                                                        </h2>
                                                    </div>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">
                                                            เริ่มทำงาน :

                                                            @{
                                                                var startwordk = "";
                                                                try
                                                                {
                                                                    DateTime UpdatedTime = (DateTime)@hrPerson.StartWork;
                                                                    startwordk = UpdatedTime.ToString("dd/MM/yyyy");
                                                                }
                                                                catch
                                                                {
                                                                    startwordk = "";
                                                                }

                                                            }

                                                            @startwordk
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-footer">
                                            <span class="pull-right">
                                                วันที่เพิ่มข้อมูล - <i class="fa fa-clock-o"></i> @hrPerson.HRRecruitDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <strong>ประวัติส่วนตัว :  @hrPerson.TitleOfUsers.TitleOfUserName@hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName</strong>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="ibox product-detail">
                                        <div class="ibox-content">

                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <h2 class="font-bold m-b-xs">
                                                        @hrPerson.TitleOfUsers.TitleOfUserName @hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName
                                                    </h2>


                                                    <small>ฝ่าย :  @hrPerson.Organizs.Departments.DepartmentName  แผนก : @hrPerson.Organizs.Department1s.Department1Name ตำแหน่ง :  @hrPerson.Organizs.Positions.PositionName</small>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price"><small class="text-muted"> เบอร์โทร : </small>  @hrPerson.HRRecruiteTel </h2>
                                                    </div>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price"><small class="text-muted">Email : </small>  @hrPerson.HRRecruiteEmail </h2>
                                                    </div>
                                                    <hr>

                                                    <h4> </h4>

                                                    <div class="small text-muted">
                                                        <h4>
                                                            บัตรประจำตัวประชาชน : @hrPerson.HRRecruiteCardId
                                                        </h4>
                                                        <h4>

                                                            ชื่อเล่น : @hrPerson.HRRecruiteNickname
                                                        </h4>
                                                        <h4>
                                                            วันเกิด :  @hrPerson.HRRecruitBirth.ToString("dd/MM/yyyy")
                                                        </h4>
                                                        <h4>
                                                            Line Id : @hrPerson.HRRecruiteLineId
                                                        </h4>
                                                        <h4>
                                                            แหล่งที่มา : @hrPerson.HRRecruiteGroups.HRRecruiteGroupDetail
                                                        </h4>
                                                        <h4>
                                                            กรุ๊ปเลือด : @hrPerson.Bloods.BloodName
                                                        </h4>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-footer">
                                            <span class="pull-right">
                                                วันที่เพิ่มข้อมูล - <i class="fa fa-clock-o"></i> @hrPerson.HRRecruitDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </span>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <strong>ประวัติการศึกษา : @hrPerson.TitleOfUsers.TitleOfUserName @hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName </strong>

                        <div class="wrapper wrapper-content animated fadeInRight">

                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="ibox product-detail">
                                        <div class="ibox-content">

                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-3">

                                                    <h2 class="font-bold m-b-xs">
                                                        @hrPerson.Universities.UniversiryName
                                                    </h2>

                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">คณะ/หลักสูตร :  @hrPerson.Faculties.FacultyName </h2>
                                                    </div>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">สาขา :   @hrPerson.Majors.MajorName </h2>
                                                    </div>
                                                    <hr>

                                                    <h4> </h4>

                                                    <div class="small text-muted">
                                                        <h4>
                                                            เกรดเฉลี่ย : @hrPerson.GPA
                                                        </h4>
                                                        <h4>

                                                            ปีที่สำเร็จการศึกษา : @hrPerson.YearCongrate
                                                        </h4>
                                                        <h4>
                                                            ระดับการศึกษาสูงสุด @hrPerson.TypeCongrates.TypeCongrateName
                                                        </h4>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-footer">
                                            <span class="pull-right">
                                                วันที่เพิ่มข้อมูล - <i class="fa fa-clock-o"></i> @hrPerson.HRRecruitDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane">
                    <div class="panel-body">
                        <strong>ประวัติการทำงาน : @hrPerson.TitleOfUsers.TitleOfUserName @hrPerson.HRRecruiteFName   @hrPerson.HRRecruiteLName </strong>
                        <div class="wrapper wrapper-content animated fadeInRight">

                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="ibox product-detail">
                                        <div class="ibox-content">

                                            <div class="row">
                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-md-9">

                                                    <h2 class="font-bold m-b-xs">

                                                        ตำแหน่งสุดท้าย : @hrPerson.LastPosition
                                                    </h2>

                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">ประสบการณ์ทำงาน : @hrPerson.ExWorkYear </h2>
                                                    </div>
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">สถานที่ทำงานล่าสุด : @hrPerson.LastWorkYear </h2>
                                                    </div>
                                                    <hr>

                                                    <h4> </h4>

                                                    <div class="small text-muted">
                                                        <h4>
                                                            ช่วงเงินเดือนสุดท้าย : @hrPerson.TypeOfSalaries.TypeOfSalaryName
                                                        </h4>
                                                        <h4>

                                                            สาเหตุที่ออกจากงาน : @hrPerson.TypeOfResigns.TypeOfResignName
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-footer">
                                            <span class="pull-right">
                                                วันที่เพิ่มข้อมูล - <i class="fa fa-clock-o"></i> @hrPerson.HRRecruitDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </span>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <form asp-action="Editdata">
        <!-- Modal -->
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ผลการ Recruit</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="hrid" class="form-control" value="@hrPerson.HRRecruiteID" />

                       
                            <div class="form-group">
                                <label class="control-label">วันที่เซ็นสัญญา</label>
                                <div class="input-group date" id="dtpSign">
                                    <input type="text" id="SignDate" name="SignDate" class="form-control" value="@hrPerson.SignDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                      


                     
                            <div class="form-group">
                                <label class="control-label">วันที่เริ่มงาน</label>
                                <div class="input-group date" id="dtp1">
                                    <input type="text" id="txtStart" name="StartWork" class="form-control" value="@hrPerson.StartWork" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                      
              
                            <div class="form-group">
                                <label class="control-label">สถานะการ Recruite</label>
                                <select name="Status" id="statusid" class="form-control" asp-items="ViewBag.HRRecruiteStatusId"></select>
                            </div>
                    

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="แก้ไข" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>


                </div>
            </div>
        </div>
    </form>
}



           


            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <form asp-action="Savedata">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">เพิ่มข้อมูลการนัด</h4>
                            </div>
                            <div class="modal-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <input asp-for="HRRecruiteID" class="form-control" type="hidden" value="@ViewBag.hrid" />


                                <div class="form-group">
                                    <label class="control-label">ประเภทการติดต่อ</label>
                                    <select asp-for="AppTelTypeId" class="form-control" asp-items="ViewBag.AppTelTypeId"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">ผลการติดต่อ</label>
                                    <select asp-for="AppStatusId" class="form-control" asp-items="ViewBag.AppStatusId"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">สถานะการนัด</label>
                                    <select asp-for="AppResultId" class="form-control" asp-items="ViewBag.AppResultId"></select>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">วันที่นัด</label>
                                    <div class="input-group date" id="app1">
                                        <input type="text" id="txtStart" name="app" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">สถานที่นัด</label>
                                    <select asp-for="AppRoomId" class="form-control" asp-items="ViewBag.AppRoomId"></select>
                                </div>




                                <div class="form-group">
                                    <label class="control-label">ผลลัพธ์</label>
                                    <select asp-for="AppSuccessId" class="form-control" asp-items="ViewBag.AppSuccessId"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">หมายเหตุ</label>
                                    <select asp-for="AppEtcId" class="form-control" asp-items="ViewBag.AppEtcId"></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Create" class="btn btn-default" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>





            <!-- Modal -->
            <div id="modeledit" class="modal fade" role="dialog">
                <form asp-action="Updatedata">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">แก้ไขข้อมูลการนัด</h4>
                            </div>
                            <div class="modal-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input id="appno" name="appno"  type="hidden" />
                                <input name="apphrid" id="apphrid" type="hidden" />


                                <div class="form-group">
                                    <label class="control-label">ประเภทการติดต่อ</label>
                                    <select class="form-control" name="appTelTypeId" id="appTelTypeO" asp-items="ViewBag.AppTelTypeId"></select>
                                </div>

                                <div class="form-group">

                                    <label class="control-label">ผลการติดต่อ</label>
                                    <select name="AppStatusId" id="AppStatusO" class="form-control" asp-items="ViewBag.AppStatusId"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">สถานะการนัด</label>
                                    <select name="AppResultId" id="AppResultO" class="form-control" asp-items="ViewBag.AppResultId"></select>

                                </div>


                                <div class="form-group">
                                    <label class="control-label">วันที่นัด</label>
                                    <div class="input-group date" id="app2">
                                        <input type="text" id="txtStart1" name="app" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">สถานที่นัด</label>
                                    <select asp-for="AppRoomId" id="AppRoomO" class="form-control" asp-items="ViewBag.AppRoomId"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">ผลลัพธ์</label>
                                    <select name="AppSuccessId" id="AppSuccessO" class="form-control" asp-items="ViewBag.AppSuccessId"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">หมายเหตุ</label>
                                    <select name="AppEtcId" id="AppEtcO" class="form-control" asp-items="ViewBag.AppEtcId"></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Edit" class="btn btn-default" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>







            <!-- Modal -->
            <div id="modeldelete" class="modal fade" role="dialog">
                <form asp-action="Deletedata">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">แก้ไขข้อมูลการนัด</h4>
                            </div>
                            <div class="modal-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input id="appnoX" name="appno" type="hidden" />
                                <input name="apphrid" id="apphridX" type="hidden" />


                                <div class="form-group">
                                    <label class="control-label">ประเภทการติดต่อ</label>
                                    <select class="form-control" name="appTelTypeId" id="appTelTypeX" asp-items="ViewBag.AppTelTypeId"></select>
                                </div>

                                <div class="form-group">

                                    <label class="control-label">ผลการติดต่อ</label>
                                    <select name="AppStatusId" id="AppStatusX" class="form-control" asp-items="ViewBag.AppStatusId"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">สถานะการนัด</label>
                                    <select name="AppResultId" id="AppResultX" class="form-control" asp-items="ViewBag.AppResultId"></select>

                                </div>


                                <div class="form-group">
                                    <label class="control-label">วันที่นัด</label>
                                    <div class="input-group date" id="app3">
                                        <input type="text" id="txtStartX" name="app" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">สถานที่นัด</label>
                                    <select asp-for="AppRoomId" id="AppRoomX" class="form-control" asp-items="ViewBag.AppRoomId"></select>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">ผลลัพธ์</label>
                                    <select name="AppSuccessId" id="AppSuccessX" class="form-control" asp-items="ViewBag.AppSuccessId"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">หมายเหตุ</label>
                                    <select name="AppEtcId" id="AppEtcX" class="form-control" asp-items="ViewBag.AppEtcId"></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>




            @section Scripts {
                <script>
        $('#dtp1,#dtp2,#dtp3,#dtp4,#dtpSign').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#app1,#app2').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });

     $('#statusid').val('@status');
                </script>



                <script>
                    function openAddEditForm(appid) {

                        var appno = appid.getAttribute("data-animal-type");
                        var date2 = appid.getAttribute("data-date1-type");

                        //alert(date2);
                        $.ajax({
                            type: "GET",
                            url: "/Appointments/GetData/" + appno,
                            success: function (data) {
                                //alert(typeof(data.AppDate));
                                $('#appno').val(data.AppId);
                                $('#apphrid').val(data.HRRecruiteID);
                                $('#appTelTypeO').val(data.AppTelTypeId.toString());
                                $('#AppStatusO').val(data.AppStatusId.toString());
                                $('#txtStart1').val(date2);
                                $('#AppSuccessO').val(data.AppSuccessId.toString());
                                $('#AppEtcO').val(data.AppEtcId.toString());
                                $('#AppResultO').val(data.AppResultId.toString());
                                $('#AppRoomO').val(data.AppRoomId.toString());
                            }
                        });
                        $('#modeledit').modal();
                    }

                </script>




                <script>
                    function OpenDeleteFrom(appid) {

                        var appno = appid.getAttribute("data-animal-type");
                        var date2 = appid.getAttribute("data-date1-type");

                        //alert(date2);
                        $.ajax({
                            type: "GET",
                            url: "/Appointments/GetData/" + appno,
                            success: function (data) {
                                //alert(typeof(data.AppDate));
                                $('#appnoX').val(data.AppId);
                                $('#apphridX').val(data.HRRecruiteID);
                                $('#appTelTypeX').val(data.AppTelTypeId.toString());
                                $('#AppStatusX').val(data.AppStatusId.toString());
                                $('#txtStartX').val(date2);
                                $('#AppSuccessX').val(data.AppSuccessId.toString());
                                $('#AppEtcX').val(data.AppEtcId.toString());
                                $('#AppResultX').val(data.AppResultId.toString());
                                $('#AppRoomX').val(data.AppRoomId.toString());

                            }
                        });
                        $('#modeldelete').modal();
                    }

                </script>
            }



