@model CESAPSCOREWEBAPP.Models.ManualCat

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ManualCat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManualCatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManualCatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManualCatDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManualCatDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManualCatUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManualCatUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ManualCatId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
