@model IEnumerable<CESAPSCOREWEBAPP.Models.ManualCat>

@{
    ViewData["Title"] = "หมวดหมู่คู่มือ";
         ViewData["Tab"] = "<ol class='breadcrumb'>"
                 + "<li>"
                 + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
                 + "</li>"
                 + "<li>"
                 + "<a href='/Menuseting/Index' data-toggle='tooltip' data-placement='top' title='ตั้ังค่า'>Setting</a>"
                 + "</li>"
                 + "<li class='active'>"
                 + "<b><a>" + @ViewData["Title"] + "</a></b>"
                 + "</li>"
                 + "</ol>";
}


<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6 col-lg-offset-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>รายการหมวดหมู่คู่มือ</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                     
                        <button data-toggle="tooltip" data-placement="top" title="เพิ่มข้อมูลหมวดหมู่คู่มือ" onclick="createdata(this);" class="btn btn-primary">Create</button>
                    </p>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="dt1">
                        <thead>
                            <tr>
                                
                                <th>
                                    ชื่อหมวดหมู่คู่มือ
                                </th>
                                <th>
                                    วันที่เพิ่ม
                                </th>
                                <th>
                                    สร้างโดย
                                </th>
                                <th>
                                   วันที่แก้ไข
                                </th>
                                <th>
                                    แก้ไขโดย
                                </th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManualCatName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ManualCatDate)*@
                                    @item.ManualCatDate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManualCatUser)

                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ManualCatEditDate)*@
                                    @{

                                        DateTime? ManualCatEditDate = null;
                                        try
                                        {

                                            ManualCatEditDate = (DateTime)item.ManualCatEditDate;
                                            DateTime mcatEdit = (DateTime)ManualCatEditDate;//วันที่แก้ไข
                                            @mcatEdit.ToString("yyyy-MM-dd");

                                        }
                                        catch
                                        {

                                            ManualCatEditDate = null;

                                        }
                                        @*@Resignation;*@
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManualCatUserEdit)
                                </td>
                                <td>
                                    <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="แก้ไข" data-id-type="@item.ManualCatId" data-animal-type="@item.ManualCatName" data-adddate-type="@item.ManualCatDate" data-useradd-type="@item.ManualCatUser" onclick="editdata(this);"><i class="fa fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.ManualCatId" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="รายละเอียด"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="ลบ" data-id-type="@item.ManualCatId" data-animal-type="@item.ManualCatName" onclick="deleteItem(this);"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">เพิ่มหมวดหมู่คู่มือ</h4>
            </div>
            <form asp-action="Create" asp-controller="ManualCats" method="post">

                <div class="modal-body">
                    <label class="control-label">หมวดหมู่คู่มือ</label>
                    <input name ="ManualCatName" class="form-control" />
                   
                </div>

                <div class="modal-footer">
                    <div class="col-lg-2 pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">ยกเลิก</button>
                    </div>
                    <input type="submit" value="บันทึก" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" />
                </div>
            </form>

        </div>
    </div>
</div>


<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">แก้ไขข้อมูลหมวดหมู่คู่มือ</h4>
            </div>
            <form asp-action="Edit" asp-controller="ManualCats" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="ManualCatId" id="mcatId" />

                <div class="modal-body">
                    <label class="control-label">หมวดหมู่คู่มือ</label>
                    <input name="ManualCatName" class="form-control" id="mcatName" />

                    <input name="ManualCatDate" class="form-control" id="mcatUserAdd" type="hidden" />
                    <input name="ManualCatUser" class="form-control" id="mcatDateAdd" type="hidden" />
                </div>
                <div class="modal-footer">
                    <div class="col-lg-2 pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">ยกเลิก</button>
                    </div>
                    <input type="submit" value="บันทึก" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" />
                </div>


            </form>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        function createdata() {
            $('#myModal').modal();
        }
    </script>

    <script>
        function editdata(edit) {
            $('#myModalEdit').modal();

            var id = edit.getAttribute("data-id-type");
            var name = edit.getAttribute("data-animal-type");
             var useradd = edit.getAttribute("data-adddate-type");
            var dateadd = edit.getAttribute("data-useradd-type");

            //alert(name + id);
            //1. เรียกแสดงขึ้น Form
            document.getElementById('mcatId').value = id; //เรียกแสดงใน input
            document.getElementById('mcatName').value = name;//เรียกแสดงใน input
            document.getElementById('mcatUserAdd').value = useradd;//เรียกแสดงใน input
            document.getElementById('mcatDateAdd').value = dateadd;//เรียกแสดงใน input

            //2. save with contoller>>

        }
    </script>

    <script>
        function deleteItem(deletebutton) {
            var id = deletebutton.getAttribute("data-id-type");
            var name = deletebutton.getAttribute("data-animal-type");
            swal({
                title: "คุณต้องการลบ" + name + " หรือไม่?",
                text: " ",
                //html: true,
                icon: "warning",
                buttons: [
                    'No',
                    'yes'
                ],

                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: { id: id },
                        url: "/ManualCats/remove/" + id,
                        success: function (response) {
                            //console.log(response.name);
                            swal("ลบสำเร็จ", {
                                title: "ลบสำเร็จ " + response.name,
                                icon: "success",
                                button: false,

                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000)

                        },
                        error: function () {
                            swal({
                                title: "คุณไม่มีสิทธิ์ในการลบข้อมูลนี้!",
                                icon: "warning",
                                button: "ตกลง",
                            });

                        }
                    });

                }
                else {
                    swal("ยกเลิกการลบ " + name, " ", "error");
                }
            })


        }

    </script>
}