@model IEnumerable<CESAPSCOREWEBAPP.Models.AppStatus>

@{
         ViewData["Tab"] = "<ol class='breadcrumb'>"
                 + "<li>"
                 + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
                 + "</li>"
                 + "<li>"
                 + "<a href='/Menuseting/Index' data-toggle='tooltip' data-placement='top' title='ตั้ังค่า'>Setting</a>"
                 + "</li>"
                 + "<li class='active'>"
                 + "<b><a>" + @ViewData["Title"] + "</a></b>"
                 + "</li>"
                 + "</ol>";
}

<div class="col-sm-6 col-lg-6 col-md-6 col-lg-offset-3">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>รายการผลการติดต่อ</h5>

        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <p>

                        <button class="btn btn-primary" onclick="createdata()" data-toggle="tooltip" data-placement="top" title="เพิ่มข้อมูลผลการติดต่อ">Create</button>
                    </p>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="dt1">
                        <thead>
                            <tr>
                                <th>
                                    รหัส
                                </th>
                                <th>
                                    ผลการติดต่อ
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppStatusId)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppStatusName)
                                    </td>
                                    <td>
                                        <a  class="btn btn-info" data-toggle="tooltip" data-placement="top" title="แก้ไข" data-id-type="@item.AppStatusId" data-animal-type="@item.AppStatusName" onclick="editdata(this);"><i class="fa fa-edit"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.AppStatusId" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="รายละเอียด"><i class="fa fa-eye"></i></a>
                                        @*<a asp-action="Delete" asp-route-id="@item.AppStatusId" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="ลบ"><i class="fa fa-trash"></i></a>*@
                                        <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="ลบ" data-id-type="@item.AppStatusId" data-animal-type="@item.AppStatusName" onclick="deleteItem(this);"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">เพิ่มผลการติดต่อ</h4>
            </div>
            <form asp-action="Create" asp-controller="AppStatus" method="post">

                <div class="modal-body">
                    <label class="control-label">ผลการติดต่อ</label>
                    <input name="AppStatusName" class="form-control" />
                </div>

                <div class="modal-footer">
                    <div class="col-lg-2 pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">ยกเลิก</button>
                    </div>
                    <input type="submit" value="บันทึก" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" />
                </div>
            </form>

        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">แก้ไขผลการติดต่อ</h4>
            </div>
            <form asp-action="Edit" asp-controller="AppStatus" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="modal-body">
                    <input type="hidden" name="AppStatusId" id="appid" />
                    <label class="control-label">ผลการติดต่อ</label>
                    <input name="AppStatusName" class="form-control" id="appname" />
                </div>
                <div class="modal-footer">
                    <div class="col-lg-2 pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">ยกเลิก</button>
                    </div>
                    <input type="submit" value="บันทึก" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" />
                </div>


            </form>

        </div>
    </div>
</div>


@section Scripts{

    <script>
        function createdata() {
            $('#myModal').modal();
        }
    </script>
    <script>
        function editdata(edit) {
            $('#myModalEdit').modal();

            var id = edit.getAttribute("data-id-type");
            var name = edit.getAttribute("data-animal-type");

            //alert(name + id);
            //1. เรียกแสดงขึ้น Form
            document.getElementById('appid').value = id; //เรียกแสดงใน input
            document.getElementById('appname').value = name;//เรียกแสดงใน input

            //2. save with contoller>>

        }
    </script>

    <script>
        function deleteItem(deletebutton) {
            var id = deletebutton.getAttribute("data-id-type");
            var name = deletebutton.getAttribute("data-animal-type");
            swal({
                title: "คุณต้องการลบ" + name + " หรือไม่?",
                text: " ",
                //html: true,
                icon: "warning",
                buttons: [
                    'No',
                    'yes'
                ],

                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: { id: id },
                        url: "/AppStatus/remove/" + id,
                        success: function (response) {
                            //console.log(response.name);
                            swal("ลบสำเร็จ", {
                                title: "ลบสำเร็จ " + response.name,
                                icon: "success",
                                button: false,

                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000)

                        },
                        error: function () {
                            swal({
                                title: "คุณไม่มีสิทธิ์ในการลบข้อมูลนี้!",
                                icon: "warning",
                                button: "ตกลง",
                            });

                        }
                    });

                }
                else {
                    swal("ยกเลิกการลบ " + name, " ", "error");
                }
            })


        }

    </script>
}